@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


 
/* Base Styles */
body {
  font-family: 'Merriweather';
  background-color: var(--dark-bg);
  color: var(--text-white);
}

/* Títulos de sección */
.section-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-white);
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*========================
  Styles for News Section
========================*/

/* Contenedor de la sección de noticias */
.news-section {
  display: flex;
  flex-direction: column;
  max-height: 3200px;
  padding-top: 20px;
  position: relative;
  scroll-behavior: smooth; /* Para un desplazamiento suave */
}

/* Contenedor del carrusel */
.carousel-container {
  height: 70vh; /* Ocupa el alto de la pantalla menos el navbar */
  min-height: 70vh;
  max-height: 70vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Contenedor de cada elemento del carrusel */
.carousel-item-container {
  width: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Fondo detrás de cada elemento si no ocupa todo el espacio */
.carousel-item-background {
  width: 100%;
  max-width: 100%; /* Máximo ancho para las imágenes y videos */
  height: 70vh; /* Ocupa el alto de la pantalla menos el navbar */
  min-height: 70vh;
  max-height: 70vh;
  background-color: rgba(104, 104, 104, 0); /* Fondo gris claro */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para imágenes y videos en el carrusel */
.carousel-media {
  border-radius: 10px;
  width: auto;
  max-width: 100%;
  height: 67vh; /* Ocupa el alto de la pantalla menos el navbar */
  min-height: 67vh;
  max-height: 67vh;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

/* Leyenda del carrusel */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  max-width: 90%;
  text-align: center;
  color: var(--text-white);
  z-index: 1; /* Mantén un z-index menor que la barra */
  pointer-events: none; /* Desactiva interacciones con el caption */
}

/* Fondo negro semitransparente para los botones de navegación */
.carousel-control-next-icon::after {
  transform: translate(-30%, -50%) rotate(-45deg); /* Rotación para flecha derecha */
}

/* Estilos para los indicadores */
.carousel-indicators {
  bottom: 0px;
  height: 20px;
  max-height: 3vh;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0px;
}
.carousel-indicators button {
  min-height: 100%;
  height: 100%;
  width: 35px;
  min-width: 35px;
}

/* Botones de navegación grandes y redondos */
.carousel-control-prev,
.carousel-control-next {
  width: 100px; /* Tamaño de 12 rem */
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1); /* Fondo negro semitransparente */
  border-radius: 50%; /* Botón redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

/* Desactiva íconos predeterminados de Bootstrap */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  font-size: 6rem;
  background-image: none !important; /* Elimina imagen de fondo predeterminada */
}

/* Personaliza el ícono de las flechas */
.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  color: var(--text-white); /* Color blanco para las flechas */
  font-weight: bold;
}

.carousel-control-prev-icon::after {
  position: relative;
  bottom: 36px;
  left: -5px;
  content: '‹'; /* Flecha izquierda */
}

.carousel-control-next-icon::after {
  position: relative;
  bottom: 36px;
  right: -5px;
  content: '›'; /* Flecha derecha */
}

/*========================
  Styles for Service Areas Section
========================*/

/* Contenedor de áreas de servicio */
.service-areas-section {
  padding: 20px;
}

/* Campo de búsqueda */
.form-control {
  height: auto;
  font-size: 1rem;
  padding: 0.5rem;
}

.input-group-text {
  height: auto;
  font-size: 1rem;
}

.input-group-text svg {
  width: 16px;
  height: 16px;
}

.input-group {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}

.input-group .form-control {
  border-radius: 0.25rem;
}

/* Ajustes para las imágenes dentro de las tarjetas */
.card-img-container {
  position: relative;
  width: 90%; /* Ancho del 90% del contenedor padre */
  padding-top: 90%; /* Altura proporcional al ancho */
  margin: auto;
  border-radius: 0px;
  overflow: hidden; /* Recorte de contenido excedente */
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
}

.card-title-overlay {
  position: absolute;
  bottom: 0; /* Título en la parte inferior de la imagen */
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
  color: var(--text-white);
  padding: 0.5rem 1rem;
  font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
  border-radius: 0px;
}

/* Centrar la tarjeta cuando solo hay un resultado */
.single-result {
  justify-content: center;
}

/* Ajustes generales de las tarjetas */
.card {
  border: var(--institutional-yellow) 2px solid;
  border-radius: 35px;
  overflow: hidden;
  margin-bottom: 30px;
}

/* Título y texto dentro de la tarjeta */
.card-title {
  color: var(--text-white);
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0px;
}

.information-conteiner {
  margin-top: 30px;
}

/*========================
  Responsive Styles for Totem Format
========================*/
@media screen and (min-width: 2160px) and (min-height: 3840px) {
  /*--- Service Areas Section Adjustments ---*/

  /* Ajustes del contenedor */
  .service-areas-section {
    min-height: 1600px;
    max-height: 1600px;
    padding: 20px;
    margin-top: 200px;
  }

  /* Ajustes del campo de búsqueda */
  .form-control {
    text-align: center;
    height: 120px;
    font-size: 50px;
    padding: 1.5rem;
    border-radius: 50px;
  }

  .input-group-text {
    height: 120px;
    font-size: 50px;
  }

  .input-group-text svg {
    width: 60px;
    height: 60px;
  }

  .input-group {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .input-group .form-control {
    border-radius: 1rem;
  }

  .card-img-container {
    position: relative;
    width: 90%; /* Ancho del 90% del contenedor padre */
    padding-top: 90%; /* Altura proporcional al ancho */
    margin: auto;
    border-radius: 0px;
    overflow: hidden; /* Recorte de contenido excedente */
  }

  .card-img-top {
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  }

  .card-title-overlay {
    position: absolute;
    bottom: 0; /* Título en la parte inferior de la imagen */
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
    color: var(--text-white);
    padding: 0.5rem 1rem;
    font-size: 3rem; /* Ajusta el tamaño del texto según sea necesario */
    border-radius: 0px;
  }
}

/* Estilos para el botón flotante de mute */
.mute-button {
  position: absolute;
  top: calc(1vh + 30px); /* Ajusta la posición inferior */
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4); /* Fondo blanco semitransparente */
  color: var(--text-white); /* Icono blanco */
  border: none;
  border-radius: 50%; /* Hace el botón circular */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: blink 1.5s infinite; /* Animación de parpadeo */
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.mute-button i {
  font-size: 24px; /* Tamaño del icono */
}

/* Efecto hover para mejor UX */
.mute-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Animación de parpadeo */
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.5;
  }
}

/* Leyenda del carrusel */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  max-width: 90%;
  text-align: center;
  color: var(--text-white);
  z-index: 1; /* Caption detrás de las barras */
}

/* Barra de progreso */
.progress-bar {
  position: absolute;
  bottom: 1vh;
  width: 28vh;
  z-index: 10;
}

.progress-bar input[type="range"] {
  width: 100%;
  appearance: none;
  background: rgba(255, 255, 255, 0);
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 17px;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 5px;
  z-index: 2;
}

.progress-white {
  position: absolute;
  bottom: 19px;
  width: 100%;
  height: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  background-color: var(--text-white);
  z-index: 1;
}

.progress-bar input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--text-white);
  border-radius: 50%;
  cursor: pointer;
}

/* Barra de volumen */
.volume-bar {
  position: absolute;
  bottom: 1vh; /* Ajusta la posición según diseño */
  right: calc(50% - 15px - 16vh);
  width: 30px; /* Ancho reducido para barra vertical */
  height: 30px; /* Altura total de la barra */
  margin-bottom: 8px;
  z-index: 10;
  pointer-events: auto; /* Permite interacción */
}

.volume-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 24px;
  z-index: 11; /* Sobre las barras */
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-button .material-icons {
  font-size: 18px;
  color: var(--text-white);
}

/* Contenedor de la barra de volumen (rotada) */
.volume-container {
  position: relative;
  right: 35px;
  bottom: 90px;
  width: 100px; /* Altura rotada */
  height: 10px; /* Ancho reducido */
  transform: rotate(-90deg); /* Gira la barra */
  transform-origin: center; /* Centra la rotación */
  z-index: 10;
}

.volume-outer-bar {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3); /* Barra externa */
  border-radius: 5px;
  z-index: 9; /* Detrás del slider */
}

.volume-inner-bar {
  position: absolute;
  height: 10px; /* Alto dinámico según volumen */
  width: 100%; /* Ancho completo de la barra */
  background-color: rgba(255, 255, 255, 0.8); /* Barra interna */
  border-radius: 5px;
  z-index: 10; /* Por encima de la barra externa */
}

.volume-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Invisible pero interactivo */
  z-index: 11; /* Sobre la barra interna */
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb,
.volume-slider::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

/* Contenedor del botón de pausa/play */
.play-pause-button {
  position: absolute;
  bottom: 1vh;
  left: calc(50% - 15px - 16vh);
  width: 30px; /* Ancho reducido para barra vertical */
  height: 30px; /* Altura total de la barra */
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
  border-radius: 50%; /* Hace el botón circular */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 20; /* Asegura que esté por encima de otros elementos */
}

/* Icono dentro del botón */
.play-pause-button .material-icons {
  font-size: 24px;
  color: var(--text-white); /* Color del icono */
}

/* Efecto hover */
.play-pause-button:hover {
  background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
}

/* Botón de seguir esta noticia */
.follow-news-button {
  background-color: var(--institutional-yellow);
  margin-top: 1vh;
  margin-left: calc(50% - 100px);
  color: #000;
  border: none;
  border-radius: 50px;
  width: 200px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.follow-news-button .material-icons {
  font-size: 24px;
}

.follow-news-button:hover {
  background-color: var(--institutional-yellow); /* Puede ajustar si es necesario */
}

.follow-space-button {
  min-height: 50px;
}

/* Modal QR */
.simple-qr-modal {
  position: absolute;
  left: calc(50% - 16vw);
  top: 15vh;
  min-width: 32vw;
  max-width: 32vw;
  min-height: calc(32vw + 10vh);
  background-color: var(--dark-bg);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}

.qr-code {
  min-width: 25vw;
  min-height: 25vw;
  object-fit: contain;
}

.modal-body h2 {
  color: var(--text-white);
  font-size: 1.2rem;
  margin-top: 2vw;
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 2rem;
  height: 3vw;
  width: 3vw;
  color: var(--text-white);
  cursor: pointer;
  margin-bottom: 2vw;
}

.modal-close-button:hover {
  color: #ff0000;
}

/* Responsive adjustments for Totem Format */
@media screen and (min-width: 2160px) and (min-height: 3840px) {
  /* Barra de progreso */
  .progress-bar {
    bottom: 1.5vh;
    width: 24vW;
  }

  .progress-bar input[type="range"] {
    height: 75px;
    margin: 0px;
  }

  .progress-white {
    bottom: 0.85vh;
    height: 10px;
  }

  .progress-bar input[type="range"]::-webkit-slider-thumb {
    width: 35px;
    height: 35px;
  }

  .play-pause-button {
    bottom: 1.8vh;
    left: calc(50% - 45px - 13vw);
    width: 45px;
    height: 45px;
  }

  /* Icono dentro del botón */
  .play-pause-button .material-icons {
    font-size: 4rem;
  }

  /* Barra de volumen */
  .volume-bar {
    bottom: 1.8vh; /* Ajusta la posición según diseño */
    right: calc(50% - 45px - 13vw);
    width: 45px;
    height: 45px;
  }

  .volume-button {
    height: 45px;
    width: 45px;
  }

  .volume-button .material-icons {
    font-size: 4rem;
  }

  /* Contenedor de la barra de volumen (rotada) */
  .volume-container {
    right: 75px;
    bottom: 170px;
    width: 200px;
    height: 30px;
    transform: rotate(-90deg);
  }

  .volume-outer-bar {
    height: 30px;
    border-radius: 35px;
  }

  .volume-inner-bar {
    height: 30px;
    border-radius: 35px;
  }

  .modal-close-button {
    font-size: 5rem;
    margin-bottom: 4vw;
  }

  .modal-body h2 {
    color: var(--text-white);
    font-size: 3rem;
    padding-top: 4vw;
  }

  /* Leyenda del carrusel */
  .carousel-caption {
    padding: 1vh;
    margin-bottom: 3vh;
    font-size: 1.5rem;
  }

  .carousel-caption h5 {
    font-size: 3rem;
  }

  /* Contenedor del carrusel */
  .carousel-container {
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
  }

  /* Fondo detrás de cada elemento si no ocupa todo el espacio */
  .carousel-item-background {
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
  }

  /* Estilos para imágenes y videos en el carrusel */
  .carousel-media {
    height: 37vh;
    min-height: 37vh;
    max-height: 37vh;
  }

  .follow-news-button {
    font-size: 3rem;
    margin-left: calc(50% - 300px);
    width: 600px;
    height: 150px;
  }

  .follow-news-button .material-icons {
    font-size: 6rem;
    padding-right: 20px;
  }

  /* Botones de navegación grandes y redondos */
  .carousel-control-prev,
  .carousel-control-next {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
  }

  /* Desactiva íconos predeterminados de Bootstrap */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: 12rem;
    background-image: none !important;
  }

  /* Personaliza el ícono de las flechas */
  .carousel-control-prev-icon::after,
  .carousel-control-next-icon::after {
    color: var(--text-white);
    font-weight: bold;
  }

  .carousel-control-prev-icon::after {
    position: relative;
    bottom: 20px;
    content: '‹';
  }

  .carousel-control-next-icon::after {
    position: relative;
    bottom: 20px;
    content: '›';
  }

  /* Estilos para los indicadores */
  .carousel-indicators {
    bottom: 0px;
    height: 40px;
    max-height: 3vh;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0px;
  }
  .carousel-indicators button {
    min-height: 100%;
    height: 100%;
    width: 70px;
    min-width: 70px;
  }

  .mute-button {
    top: calc(1vh + 60px);
    min-width: 120px;
    min-height: 120px;
  }

  .mute-button span {
    font-size: 6rem;
  }

  /* Keyboard Styles */
  .simple-keyboard {
    display: block !important;
    z-index: 9999 !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-color: var(--text-white);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  }

  .information-conteiner {
    margin-top: 70px;
    overflow-y: auto;
    max-height: 1000px;
    overflow-x: hidden;
  }

  /* Personalización para navegadores basados en WebKit */
  .information-conteiner::-webkit-scrollbar {
    width: 40px;
  }

  .information-conteiner::-webkit-scrollbar-thumb {
    background: #888;
  }

  .information-conteiner::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

   /* Keyboard Styles */
   .simple-keyboard {
    display: block !important;
    z-index: 9999 !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-color: var(--text-white);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  }
  /* Class to hide the keyboard when not visible */
  .hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  /* Close button styles */
  .close-button {
    position: absolute;
    top: 2550px;
    right: 50px;
    background-color: rgba(255, 0, 0, 0.26);
    color: var(--text-white);
    border: none;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    font-size: 100px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  /* Títulos de sección */
  .section-title {
    font-size: 5rem;
    margin-bottom: 20px;
  }
  .news-section {
    overflow-y: hidden;
  }
  
}

/*========================
  Responsive Styles for Mobile Devices
========================*/
@media screen and (max-width: 768px) {
  /* Ajustes generales */
  .section-title {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }

  /*--- News Section Adjustments ---*/
  .news-section {
    height: calc(100vh - var(--navbar-height)); /* Mantiene la misma lógica en móviles */
  }

  .carousel-caption {
    font-size: 1rem;
    padding: 10px;
    max-width: 100%;
  }

  /* Botones de navegación grandes y redondos */
  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgba(0, 0, 0, 0); /* Fondo transparente */
  }

  .card-img-container {
    position: relative;
    width: 90%;
    padding-top: 90%;
    margin: auto;
    border-radius: 0px;
    overflow: hidden;
  }

  .card-img-top {
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-title-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--text-white);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0px;
  }

  .information-container {
    margin-top: 40px;
  }

  .information-container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .information-container .col {
    padding: 5px;
    margin: 0px;
  }
}
