 
<div class=" fondo">
  <!-- Espaciado superior -->
 
<!--========================
    News Section
    
========================-->
 
<div class="news-section">
<!-- Botón flotante de mute, visible solo cuando hay un video y isMuted está activo -->

  <div id="noticias"></div>
  <!-- Carrusel de Noticias -->
  <ngb-carousel
    #carousel
    [interval]="autoSlideInterval"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
    [showNavigationIndicators]="true"
    [showNavigationArrows]="true"
    [wrap]="true"
    class="carousel-container"
  >
    <ng-template
      ngbSlide
      *ngFor="let post of newsPosts; let i = index; trackBy: trackByFn"
      [id]="'slide-' + i"
    >
      <!-- Contenedor de cada elemento del carrusel -->
      <div class="carousel-item-container">
        <!-- Fondo gris si la imagen no ocupa todo el espacio -->
        <div class="carousel-item-background">
          <!-- Mostrar video o imagen según el tipo de medio -->
          <ng-container
            *ngIf=" (post?.media_type ?? '').toLowerCase() === 'video'; else imageTemplate">
            <!-- Contenido de video -->
            <video
            #currentVideoElement
            [src]="post.media_url"
            [muted]="isMuted"
            (timeupdate)="updateProgressBar()"
            playsinline
            (click)="handleVideoClick()"
            class="carousel-media custom-video"
          ></video>
          <button 
            *ngIf="isMuted && isVideo" 
            class="mute-button" 
            (click)="toggleMute()"
            [title]="isMuted ? 'Activar audio' : 'Audio activado'">
            <span class="material-icons">volume_off</span>
          </button>
            <!-- Barra de volumen (arriba) -->
            <div class="volume-bar" *ngIf="!isMuted && isVideo">
              <!-- Botón con icono de volumen -->
              <button 
                class="volume-button" 
                (click)="toggleVolumeSlider($event)">
                <span class="material-icons">{{ volume > 0 ? 'volume_up' : 'volume_off' }}</span>
              </button>
            
              <!-- Contenedor de la barra de volumen -->
              <div class="volume-container" *ngIf="showVolumeSlider">
                <!-- Barra externa para indicar todo el rango -->
                <div class="volume-outer-bar"></div>
            
                <!-- Barra interna para mostrar el rango actual -->
                <div class="volume-inner-bar" [style.width.%]="volume * 100"></div>
            
                <!-- Control deslizante transparente para la interacción -->
                <input 
                  type="range" 
                  min="0" 
                  max="1" 
                  step="0.01" 
                  [(ngModel)]="volume" 
                  (input)="setVolume($event)" 
                  class="volume-slider"
                />
              </div>
            </div>
            
                  <!-- Contenedor del botón de pausa/play -->
          <div  *ngIf="!isMuted && isVideo" class="play-pause-button" (click)="togglePlayPause()">
            <span class="material-icons">
              {{ isPlaying ? 'pause' : 'play_arrow' }}
            </span>
          </div>


          <!-- Barra de progreso (abajo) -->
          <div class="progress-bar" *ngIf="!isMuted && isVideo">
            <div class="progress-white"></div>
            <input 
              type="range" 
              min="0" 
              max="100" 
              [(ngModel)]="progress"
              (input)="seek($event)"
            />
          </div>
          </ng-container>
          <!-- Contenido de imagen -->
          <ng-template #imageTemplate>
            <img
              [src]="post?.media_url"
              class="carousel-media"
              [alt]="post?.caption || 'Noticia'"
              (click)="registerImageClick(post)"
            />
          </ng-template>
        </div>
        <!-- Leyenda del carrusel -->
        <div *ngIf="post?.caption"  class="carousel-caption">
          <h5>{{ post?.caption }}</h5>
        </div>
         <!-- Botón de seguir esta noticia -->
 
      </div>
      <!-- Botón flotante de mute -->


    </ng-template> 
  </ngb-carousel>

<!-- Botón Seguir esta Noticia -->
 <div class="follow-space-button">
<button
*ngIf="hasPermalink"
class="follow-news-button"
(click)="followPost(currentPost!)"
>
<span class="material-icons">qr_code</span>
<span>Seguir esta noticia</span>
</button>
</div>

<!-- modal -->
<div
  class="modal fade"
  id="qrModal"
  tabindex="-1"
  aria-labelledby="qrModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: showQRModal }"
  [ngStyle]="{ display: showQRModal ? 'block' : 'none' }"
  (click)="closeQRModal()"
>
  <div
    class="modal-dialog modal-dialog-centered"
    (click)="$event.stopPropagation()"
  >
    <div class="modal-content simple-qr-modal">
      <div class="modal-body d-flex flex-column align-items-center">
        <!-- Botón de cierre "X" -->
        <button class="modal-close-button" (click)="closeQRModal()">
          &times;
        </button>
        <img
          *ngIf="qrCodeUrl"
          [src]="qrCodeUrl"
          class="qr-code"
          alt="Código QR"
        />
        <h2 class="text-center mt-3 text-white">
          Escanea este código para seguir la historia en tu dispositivo.
        </h2>
      </div>
    </div>
  </div>
</div>

  <!--========================
      Service Areas Section
  ========================-->
  <div class="service-areas-section">
    <!-- Título de la sección de áreas de servicio -->
    <h2 id="areas-servicios" class="section-title">
      ▼ ▼ Información por Áreas de Servicio ▼ ▼
    </h2>

    <!-- Campo de búsqueda -->
    <div class="row mt-4">
      <div class="col-12">
          <input
          type="text"
          class="form-control border-0 text-black"
          placeholder="Búsqueda"
          [(ngModel)]="searchText"
          (focus)="openVirtualKeyboard()"
          (input)="filterCards()"
        />
      </div>
    </div>

    <!-- Sección de información (cards) -->
    <div class="information-conteiner">
      <div
        [ngClass]="{
          'row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 justify-content-center': true,
          'single-result': filteredCards.length === 1
        }"
      >
        <div class="col mb-4" *ngFor="let card of filteredCards">
          <div class="card">
            <a
              (click)="goToInformationPage(card.title)"
              style="text-decoration: none; cursor: pointer"
            >
              <div class="card-img-container position-relative">
                <img
                  [src]="card.imagePath"
                  (error)="onImageError($event, '/images/discover-us-placeholder.webp')"
                  class="card-img-top"
                  alt="{{ card.title }}"
                />
                <h5 class="card-title-overlay">{{ card.title }}</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
  <div *ngIf="isKeyboardVisible" class="keyboard-container">
    <!-- Close Button -->
    <button class="close-button" (click)="closeVirtualKeyboard()">X</button>
    <!-- Virtual Keyboard -->
    <div id="keyboard" class="simple-keyboard"></div>
  </div>
</div>
<!-- Teclado flotante -->
</div>