<main class="fondo alto">
  <!-- Categories and Filters Container -->
  <div class="categories-container">

    <!-- Category Buttons Centered -->
    <div class="button-container">
      <div class="category-buttons">
        <button
          class="category-btn"
          *ngFor="let category of categories"
          (click)="filterByCategory(category.faq_category_name)"
          [ngClass]="{ active: selectedCategory === category.faq_category_name }"
        >
          {{ category.faq_category_name }}
        </button>
      </div>
    </div>
  
    <!-- Search Input and Borrar Filtros Button -->
    <div class="search-and-clear">
      <!-- Search Input -->
      <input
        type="text"
        placeholder="Buscar Pregunta Frecuente..."
        (focus)="openVirtualKeyboard()"
        (input)="search($any($event.target).value)"
        class="search-input"
        [(ngModel)]="searchQuery"
      />
  
      <!-- Borrar Filtros Button -->
      <button (click)="clearFilter()" class="btn-clear">Borrar Filtros</button>
    </div>
  </div>
  

  <!-- Questions Container -->
  <div class="questions-container">
    <h1>Preguntas Frecuentes</h1>
    <br>
    <div class="separator"></div>
    <!-- Accordion -->
    <div class="accordion">
      <div *ngFor="let item of filteredItems; let i = index">
        <div class="accordion-item">
          <div class="accordion-header" (click)="toggle(item)">
            {{ item.faq_question }}
          </div>
          <div
            class="accordion-content"
            [class.active]="expandedFaq === item"
            [class.transitioning]="transitioningFaq === item"
          >
            <p [innerHTML]="item.faq_answer"></p>
          </div>
        </div>
        <!-- Separator after every 5 questions -->
        <div *ngIf="(i + 1) % 5 === 0" class="separator"></div>
      </div>
    </div>
    <div class="separator"></div>
  </div>

  <!-- Virtual Keyboard Container -->
  <div *ngIf="isKeyboardVisible" class="keyboard-container">
    <!-- Close Button -->
    <button class="close-button" (click)="closeVirtualKeyboard()">X</button>
    <!-- Virtual Keyboard -->
    <div id="keyboard" class="simple-keyboard"></div>
  </div>
</main>
