<div class="news-stats-container">
  <a class="btn btn-primary" (click)="goBack()">
    Volver
  </a>
  <h2 class="stats-title">Estadísticas de Noticias</h2>

  <div class="charts-container">
    <!-- Contenedor del Gráfico de Barras -->
    <div class="chart-container">
      <canvas *ngIf="barChartData?.labels?.length" #barChart baseChart 
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'">
      </canvas>
    </div>

    <!-- Sección de Filtros -->
    <div class="clicks-group-wrapper">
      <div class="date-slider-container">
        <h2>Filtro Fechas</h2>
      
        <!-- Campos de fecha alineados en una línea con guión entre ellos -->
        <div class="date-range">
          <div class="date-field">
            <label for="startDate">Fecha Inicio</label>
            <input type="date" [(ngModel)]="startDate" id="startDate" placeholder="dd-mm-aaaa" [min]="minDate | date:'yyyy-MM-dd'" [max]="maxDate | date:'yyyy-MM-dd'">
          </div>
          <span class="date-separator">—</span> <!-- Guión entre las fechas -->
          <div class="date-field">
            <label for="endDate">Fecha Fin</label>
            <input type="date" [(ngModel)]="endDate" id="endDate" placeholder="dd-mm-aaaa" [min]="minDate | date:'yyyy-MM-dd'" [max]="maxDate | date:'yyyy-MM-dd'">
          </div>
        </div>
      
        <!-- Mensaje de error -->
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      
        <!-- Botón primario de aplicar filtros -->
        <a class="btn btn-primary" (click)="applyFilters()">
          Aplicar Filtros
        </a>
      </div>

      <!-- Bloque con icono para el total de clicks -->
      <div class="clicks-group-data-with-icon">
        <img src="assets/newsicon.png" alt="Icono Total de Clicks" class="clicks-icon">
        <div class="clicks-total-text">
          <p class="clicks-amount">{{ totalClicks }}</p>
          <h3 class="clicks-title">Total de Clicks</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenedor para las tablas -->
  <div class="tables-container">
    <!-- Tabla de Clics por Noticia -->
    <div class="news-click-count-table tablesub">
      <h3 class="table-title">Clics por Noticia</h3>
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col">Título de la Noticia</th>
            <th scope="col">Cantidad de Clics</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of paginatedClickLogs">
            <td>{{ log.name }}</td>
            <td>{{ log.clicks }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Controles de Paginación -->
      <div class="custom-pagination">
        <!-- Botón para ir a la página anterior -->
        <button 
          (click)="previousPage()" 
          [disabled]="currentPage === 1" 
          class="arrow"
          aria-label="Página Anterior">
          &lt;
        </button>

        <!-- Botones dinámicos de páginas -->
        <button 
          *ngFor="let page of getDisplayedPages(totalPages, currentPage)" 
          (click)="page !== -1 ? goToPage(page) : null" 
          [class.active]="currentPage === page"
          [disabled]="page === -1"
          class="page-button">
          {{ page === -1 ? '...' : page }}
        </button>

        <!-- Botón para ir a la página siguiente -->
        <button 
          (click)="nextPage()" 
          [disabled]="currentPage === totalPages" 
          class="arrow"
          aria-label="Página Siguiente">
          &gt;
        </button>
      </div>
    </div>
  </div>
</div>
