<div class="sidebar" [class.expanded]="isSidebarExpanded" (mouseenter)="toggleSidebar(true)" (mouseleave)="toggleSidebar(false)">
  <!-- Perfil del usuario con menú desplegable hacia abajo solo con click -->
  <div class="user-profile" (click)="toggleProfileMenu()">
    <i class="fas fa-user-circle"></i>
    <span class="user-text">Mi Usuario</span>
    <ul *ngIf="isProfileMenuOpen" class="profile-menu">
      <li (click)="navigateTo('profile/my-profile')">
        <i class="fas fa-id-card"></i> <span class="menu-text">Perfil</span>
      </li>
      <li (click)="navigateTo('profile/change-password')">
        <i class="fas fa-key"></i> <span class="menu-text">Cambiar Contraseña</span>
      </li>
      <li (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> <span class="menu-text">Cerrar Sesión</span>
      </li>
    </ul>
  </div>

  <!-- Menú principal con iconos -->
  <ul class="menu">

    <li (click)="navigateTo('menu')">
      <i class="fas fa-home"></i> <span class="menu-text">Menú</span>
    </li>

    <li *ngIf="hasPermission('users')" (click)="navigateTo('users')">
      <i class="fas fa-users"></i> <span class="menu-text">Usuarios</span>
    </li>

    <li  *ngIf="hasPermission('stats')" (click)="navigateTo('stats')">
      <i class="fas fa-chart-line"></i> <span class="menu-text">Estadisticas</span>
    </li>

    <li (click)="navigateTo('news')">
      <i class="fas fa-newspaper"></i> <span class="menu-text">Noticias</span>
    </li>

    <li (click)="navigateTo('maps')">
      <i class="fas fa-map"></i> <span class="menu-text">Mapas</span>
    </li>

    <li (click)="navigateTo('information')">
      <i class="fas fa-info-circle"></i> <span class="menu-text">Areas de Servicios</span>
    </li>

    <li (click)="navigateTo('faqs')">
      <i class="fas fa-question-circle"></i> <span class="menu-text">Preguntas Frecuentes</span>
    </li>

    <li (click)="navigateTo('collaborator')">
      <i class="fas fa-users-cog"></i> <span class="menu-text">Colaboradores</span>
    </li>

  </ul>
</div>
