@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


* {
  font-family: 'Merriweather';
}

i {
  font-family: 'Font Awesome 5 Free'; /* Familia de Font Awesome */
  font-weight: 900; /* Peso de los iconos (puede variar según la versión) */
}


/* Estilos generales de la sidebar */
.sidebar {
  width: 60px; /* Sidebar colapsada por defecto */
  background-color: #000000;
  padding: 20px;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease-in-out; /* Efecto de expansión */
  border-top-left-radius: 15px; /* Borde redondeado superior izquierdo */
  border-bottom-left-radius: 15px; /* Borde redondeado inferior izquierdo */
  max-height: 94vh; /* No exceder el alto de la pantalla */
  height:94vh;
}

.sidebar.expanded {
  width: 250px; /* Sidebar expandida */
}

/* Estilos específicos del perfil de usuario */
.user-profile {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  white-space: nowrap; /* Evita saltos de línea */
}

.user-profile i {
  font-size: 40px;
  color: #ecf0f1;
  transition: transform 0.3s, font-size 0.3s;
}

.user-text {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  height: 20px; /* Mantener la altura fija */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.expanded .user-text {
  opacity: 1;
  visibility: visible; /* Asegura que el texto sea visible cuando la sidebar esté expandida */
}

.user-profile ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  background-color: #34495e;
  border-radius: 5px;
  width: 100%;
 
}

.user-profile ul li {
  cursor: pointer;
  padding: 10px;
  text-align: left;
  color: #ecf0f1;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.user-profile ul li i {
  margin-right: 10px;
}

.user-profile ul li:hover {
  background-color: #ffb70042;
}

.profile-menu {
  display: block; /* Mostrar el menú del perfil cuando se haga clic */
}

/* Estilos específicos para el menú principal */
.menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.menu li {
  cursor: pointer;
  padding: 15px;
  text-align: left;
  background-color: #1A1A1A;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap; /* Evita saltos de línea */
}

.menu li i {
  margin-right: 10px;
}

.menu li:hover {
  background-color: #FFB800;
  transform: translateY(-2px);
}

.menu li:last-child {
  margin-bottom: 0;
}

/* Alinear el contenido del menú a la izquierda cuando la sidebar esté expandida */
.sidebar.expanded .menu li {
  justify-content: flex-start;
}

.sidebar.expanded .menu li i {
  margin-right: 10px;
}

.menu-text {
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Evita saltos de línea */
}

.sidebar.expanded .menu-text {
  opacity: 1;
}
