<div class="map-container">
  <div class="navigation-bar">
    <!-- Botón de volver con flecha -->
    <button class="back-button" (click)="navigateToMaps()">
      Volver Atrás
    </button>
  
    <!-- Espaciador entre los botones -->
    <div class="spacer"></div>
  
    <!-- Label y botón de subir imagen -->
    <div class="upload-section">
      <label for="upload-button" class="upload-label">Cambiar Imagen del Mapa:</label>
      <button id="upload-button" (click)="openUploadModal()">Subir Imagen</button>
    </div>
  </div>
  
<!-- Contenedor para los controles y opciones -->
<div class="controls-container">
  <!-- Select para seleccionar la categoría del punto -->
  <div class="section-container">
    <label for="category-select">Selecciona la categoría:</label>
    <select id="category-select" [(ngModel)]="selectedCategoryId">
      <option [value]="1" selected>Punto de Interés</option>
      <option [value]="3">Salas o Áreas</option>
      <option [value]="4">Escaleras o Conexiones</option>
    </select>
  </div>

  <!-- Opciones específicas para categoría seleccionada -->
  <div *ngIf="selectedCategoryId == 1" class="section-container">
    <div class="icon-selector">
      <label>Icono seleccionado:</label>
      <div class="selected-icon" (click)="openIconModal()">
        <span class="material-icon">{{ selectedIconName }}</span>
      </div>
 
    </div>
    <div class="slider-container">
      <label for="size-slider">Tamaño del icono:</label>
      <input id="size-slider" type="range" min="16" max="160" step="1" [(ngModel)]="iconSize" />
      <span>{{ iconSize }}px</span>
    </div>
  </div>

  <div *ngIf="selectedCategoryId == 1 || selectedCategoryId == 3" class="section-container">
    <label for="color-picker">Selecciona un color:</label>
    <input id="color-picker" type="color" [(ngModel)]="selectedColor" />
  </div>

  <!-- Botones para opciones de grilla -->
  <div *ngIf="selectedCategoryId != 1" class="section-container action-buttons grilla">
    <label>Grilla:</label>
    <br>
    <button (click)="toggleGrid()" [class.active]="isGridVisible">Ver</button>
    <button (click)="toggleAlignment()" [class.active]="isAlignmentActive">Alinear</button>
  </div>

  <!-- Botones de acción -->
  <div class="section-container action-buttons">
    <button (click)="activatePOICreation()" [class.active]="isCreatingPOI">Crear Punto</button>
    <button (click)="activateEditMode()" [class.active]="isEditMode">Editar</button>
    <button (click)="activateDeleteMode()" [class.active]="isDeleteMode">Eliminar</button>
    <button (click)="togglePanning()" [class.active]="isClickPanning">Modo Manita</button>
  </div>

  <!-- Control de Zoom -->
  <div class="section-container zoom-container">
    <label for="zoom-range">Zoom:</label>
    <input id="zoom-range" type="range" min="100" max="500" [(ngModel)]="zoomLevel" (input)="onZoomChange($event)" />
    <span>{{ zoomLevel }}%</span>
  </div>
</div>


  <!-- Contenedor para el SVG -->
  <div class="svg-container">
    <svg
      [attr.width]="svgWidth"
      [attr.height]="svgHeight"
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp($event)"
      (mousemove)="onMouseMove($event)"
      (contextmenu)="onRightClick($event)"
      (mouseleave)="onMouseLeave($event)"
      (mouseenter)="onMouseEnter($event)"
      (wheel)="onWheel($event)"
      [style.cursor]="isPanning ? 'grab' : 'default'"
    >
      <g
        [attr.transform]="'translate(' + panOffsetX + ',' + panOffsetY + ') scale(' + zoomLevel / 100 + ')'"
        style="transform-origin: top left;"
      >
        <!-- Mapa cargado desde el servidor -->
        <image
          *ngIf="mapImageUrl !== ''"
          [attr.href]="mapImageUrl"
          x="0"
          y="0"
          [attr.width]="imageWidth"
          [attr.height]="imageHeight"
          preserveAspectRatio="none"
          style="pointer-events: none;"
        ></image>

        <!-- Grilla de líneas basada en las dimensiones de la imagen -->
        <ng-container *ngIf="isGridVisible && selectedCategoryId != 1">
          <line *ngFor="let x of gridLinesX" [attr.x1]="x" y1="0" [attr.x2]="x" [attr.y2]="imageHeight" stroke="#ddd" stroke-width="0.5" />
          <line *ngFor="let y of gridLinesY" x1="0" [attr.y1]="y" [attr.x2]="imageWidth" [attr.y2]="y" stroke="#ddd" stroke-width="0.5" />
        </ng-container>

      
        
        
        
        
      
        <ng-container *ngFor="let poi of pois; let i = index">
          <!-- Categoría 4: Zona de Conexión -->
          <ng-container *ngIf="poi.categoryId == 4">
            <rect
              [attr.x]="poi.x"
              [attr.y]="poi.y"
              [attr.width]="poi.width"
              [attr.height]="poi.height"
              fill="rgba(128, 128, 128, 0.9)"
              stroke="black"
              stroke-width="1"
              [style.cursor]="'pointer'"
              (click)="onPOIClick(poi, i, $event)"
            ></rect>
          </ng-container>
        
          <!-- Categoría 3: Área Buscada -->
          <ng-container *ngIf="poi.categoryId == 3">
            <rect
              [attr.x]="poi.x"
              [attr.y]="poi.y"
              [attr.width]="poi.width"
              [attr.height]="poi.height"
              [attr.fill]="poi.color || 'rgba(128, 128, 128, 0.9)'"
              stroke="black"
              stroke-width="1"
              [style.cursor]="'pointer'"
              (click)="onPOIClick(poi, i, $event)"
            ></rect>
            <text
              [attr.x]="poi.x + poi.width / 2"
              [attr.y]="poi.y + poi.height / 2"
              [attr.text-anchor]="'middle'"
              [attr.dominant-baseline]="'middle'"
              [style.cursor]="'pointer'"
              (click)="onPOIClick(poi, i, $event)"
              [attr.fill]="'black'"
              [attr.font-size]="14"
            >
              {{ poi.title }}
            </text>
          </ng-container>
        
          <!-- Categoría 1: Punto de Interés Visible Único -->
          <ng-container *ngIf="poi.categoryId == 1">
            <g>
              <rect
                [attr.x]="poi.x - poi.width / 2"
                [attr.y]="poi.y - poi.height / 2"
                [attr.width]="poi.width"
                [attr.height]="poi.height"
                rx="50%"
                [attr.stroke]="'black'"
                [attr.stroke-width]="2"
                [attr.fill]="poi.color || 'lightgray'"
                [style.cursor]="'pointer'"
                (click)="onPOIClick(poi, i, $event)"
                (mouseenter)="onMouseEnterPOI(poi)"
                (mouseleave)="onMouseLeavePOI(poi)"
              ></rect>
              <text
                [attr.x]="poi.x"
                [attr.y]="poi.y - poi.height * 0.2 + poi.height * 0.4"
                [attr.font-family]="'Material Icons'"
                [attr.font-size]="poi.height * 0.8"
                text-anchor="middle"
                dominant-baseline="middle"
                [style.cursor]="'pointer'"
                (click)="onPOIClick(poi, i, $event)"
                (mouseenter)="onMouseEnterPOI(poi)"
                (mouseleave)="onMouseLeavePOI(poi)"
              >
                {{ poi.iconName }}
              </text>
            </g>
          </ng-container>
        </ng-container>
        




 <!-- Área en creación para Categorías 3 y 4 -->
 <rect
 *ngIf="(selectedCategoryId == 3 || selectedCategoryId == 4) && isCreatingPOI"
 [attr.x]="startX"
 [attr.y]="startY"
 [attr.width]="areaWidth"
 [attr.height]="areaHeight"
 [attr.fill]="selectedColor || 'lightblue'"
 stroke="blue"
 stroke-width="1"
></rect>

<g *ngIf="hoveredIcon">
<rect
 [attr.x]="hoveredIcon.x - iconSize / 2"
 [attr.y]="hoveredIcon.y - iconSize / 2"
 [attr.width]="iconSize"
 [attr.height]="iconSize"
 rx="50%"
 [attr.stroke]="'black'"   
 [attr.stroke-width]="2"       
 [attr.fill]="selectedColor || 'lightblue'"
 [style.pointer-events]="'none'"
></rect>
<!-- Previsualización del ícono -->
<text
 [attr.x]="hoveredIcon.x"
 [attr.y]="hoveredIcon.y - iconSize * 0.2 + iconSize * 0.4"
 [attr.font-family]="'Material Icons'"
 [attr.font-size]="iconSize * 0.8"
 text-anchor="middle"
 dominant-baseline="middle"
 [style.pointer-events]="'none'"
>
 {{ hoveredIcon.iconName }}
</text>
      </g>
      <g *ngIf="selectedBubbleTitle">
        <!-- Fondo de la burbuja -->
        <rect
        [attr.x]="selectedBubbleX"
        [attr.y]="selectedBubbleY"
        [attr.width]="selectedBubbleWidth"
        [attr.height]="selectedBubbleHeight"
        rx="10"
        ry="10"
        fill="white"
        stroke="black"
        stroke-width="1"
        ></rect>
  
        <!-- Cola de la burbuja -->
        <polygon
        [attr.points]="getBubbleTailPoints(selectedBubbleX + selectedBubbleWidth / 2, selectedBubbleY + selectedBubbleHeight, selectedBubbleTailHeight)"
        fill="white"
        stroke="black"
        stroke-width="1"
        ></polygon>
  
        <!-- Texto del título -->
        <text
        [attr.x]="selectedBubbleX + selectedBubbleWidth / 2"
        [attr.y]="selectedBubbleY + selectedBubbleHeight / 2 + 3"
        text-anchor="middle"
        dominant-baseline="middle"
        font-size="14"
        fill="black"
        >
        {{ selectedBubbleTitle }}
        </text>
        </g>
      <g *ngIf="bubbleTitle">
      <!-- Fondo de la burbuja -->
      <rect
      [attr.x]="bubbleX"
      [attr.y]="bubbleY"
      [attr.width]="bubbleWidth"
      [attr.height]="bubbleHeight"
      rx="10"
      ry="10"
      fill="white"
      stroke="black"
      stroke-width="1"
      ></rect>

      <!-- Cola de la burbuja -->
      <polygon
      [attr.points]="getBubbleTailPoints(bubbleX + bubbleWidth / 2, bubbleY + bubbleHeight, bubbleTailHeight)"
      fill="white"
      stroke="black"
      stroke-width="1"
      ></polygon>

      <!-- Texto del título -->
      <text
      [attr.x]="bubbleX + bubbleWidth / 2"
      [attr.y]="bubbleY + bubbleHeight / 2 + 3"
      text-anchor="middle"
      dominant-baseline="middle"
      font-size="14"
      fill="black"
      >
      {{ bubbleTitle }}
      </text>
      </g>

      </g>
       

    </svg>
  </div>
</div>

<!-- Modal para ingresar o editar el título del POI -->
<div class="modal-poi" *ngIf="isPOIModalOpen">
  <div class="modal-content-poi">
    <span class="close-poi" (click)="closePOIModal()">&times;</span>
    <h3>{{ idEditPOI ? 'Editar' : 'Crear' }} Punto de Interés</h3>

    <label for="poi-title" class="poi-label">Título:</label>
    <input id="poi-title" type="text" class="poi-input" [(ngModel)]="poiTitle" />

    <button class="poi-button" (click)="savePOI()">
      {{ idEditPOI ? 'Guardar Cambios' : 'Crear' }}
    </button>
  </div>
</div>

<!-- Modal para seleccionar el edificio y piso del mapa -->
<div class="modal map-selection-modal" *ngIf="isMapSelectionModalOpen">
  <div class="modal-content map-selection-content">
    <span class="close" (click)="closeMapSelectionModal()">&times;</span>
    <h3>Seleccionar Edificio y Piso</h3>

    <!-- Selector de Edificio -->
    <label for="building-select">Edificio:</label>
    <select id="building-select" [(ngModel)]="selectedBuilding" class="map-selection-select">
      <option *ngFor="let building of fixedMapKeys" [value]="building">{{ building }}</option>
    </select>

    <!-- Selector de Piso -->
    <label for="floor-select">Piso:</label>
    <select id="floor-select" [(ngModel)]="selectedFloor" class="map-selection-select">
      <option *ngFor="let floor of getFloorsForBuilding(selectedBuilding)" [value]="floor.floor">
        {{ floor.floor }}
      </option>
    </select>

    <!-- Botón para guardar la selección -->
    <button 
      class="map-selection-button" 
      (click)="saveMapSelection(selectedBuilding, selectedFloor!)" 
      [disabled]="!selectedBuilding || selectedFloor === null">
      Guardar
    </button>
  </div>
</div>




<!-- Modal de selección de iconos -->
<div class="modal-icon" *ngIf="isIconModalOpen">
  <div class="modal-content-icon">
    <span class="close" (click)="closeIconModal()">&times;</span>
    <h3>Seleccionar un Icono</h3>

    <!-- Buscador de iconos -->
    <div class="icon-search">
      <input 
        type="text" 
        placeholder="Buscar icono..." 
        [(ngModel)]="iconSearchTerm" 
      />
    </div>

    <!-- Lista de iconos filtrados -->
    <div class="icon-list">
      <div 
        *ngFor="let icon of filteredIcons" 
        class="icon-card" 
        (click)="selectIcon(icon.id_point_icon)"
      >
        <div class="icon-display">
          <span class="material-icons">{{ icon.point_icon_image_path }}</span>
        </div>
        <div class="icon-name">{{ icon.point_icon_name }}</div>
      </div>
    </div>
  </div>
</div>

<div class="modal upload-map-modal" *ngIf="isUploadModalOpen">
  <div class="modal-content upload-modal-content">
    <!-- Botón para cerrar el modal -->
    <span class="close" (click)="closeUploadModal()">&times;</span>

    <!-- Título del modal -->
    <h3>Cargar Imagen del Mapa</h3>

    <!-- Campo de selección de archivo personalizado -->
    <div class="custom-file-input-container">
      <label class="custom-file-input">
        <input type="file" (change)="onFileSelected($event)" />
        Seleccionar archivo
      </label>
      <span class="file-name">{{ selectedFileName || 'Ningún archivo seleccionado' }}</span>
    </div>

   <!-- Contenedor externo para la vista previa de la imagen -->
    <div class="preview-container">
      <div *ngIf="previewUrl; else noPreview"  >
        <img [src]="previewUrl" alt="Preview" class="preview-image" />
      </div>
      <ng-template #noPreview>
        <p class="no-preview-text">No hay imagen seleccionada.</p>
      </ng-template>
    </div>


    <!-- Botón para subir la imagen -->
    <button class="upload-button" [disabled]="!selectedFile" (click)="uploadImage()">
      Subir Imagen
    </button>
  </div>
</div>

