@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

* {
  font-family: "Merriweather";
}


.title{
  background-color: white;
  border-radius: 15px;
  border-style: solid !important;
  border-width: 2px !important;
  border-radius: 5px !important;
  border-color: #fbb414;
  margin-bottom: 1rem;
}


.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
}

.modal-content {
  padding: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.card {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #fbb414;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: small;
  margin-right: 25px;
  margin-left: 10px;
  margin-top: 20px;
  
}

.btn-prn{
  width: 240px;
  font-size: small;
  margin-right: 48px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn-prn-con{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: small;
}

.lowercase-text {
  text-transform: lowercase;
}

.custom-line {
  border-radius: 10px;    
  border-top: 10px  solid ; /* Línea simple y recta */
  border-color: #fbb414;
  margin: 20px 0; /* Espaciado arriba y abajo */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.btn-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 2px !important;
  margin-bottom: 0% !important;
}
.col-info {
  margin-left: 0px !important;
  font-size: small;
  margin-bottom: 5px !important;
  line-height: 1;
  align-content: left;
  width: auto;
}

button {
  width: auto;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #fbb414 !important;
  margin-bottom: 5px !important;

}

button:hover {
  transform: translateY(-5px); /* Eleva el botón 5px hacia arriba */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.selecc {
  margin: 5px !important;
  background-color: white;
  border-radius: 5px;
  border-color: #fbb414;
}

.profile {
  width: 150px !important;
  border-radius: 8px; /* Bordes redondeados opcionales */
  margin-bottom: 10px; /* Espacio entre la imagen y los textos */
  border: none;
  margin-left: 30px;
  margin-top: 5px !important;
}
.form-control {
  margin-right: 1rem !important;
}

.collaborator-modal input[type="text"],
.collaborator-modal input[type="email"],
.collaborator-modal select,
.collaborator-modal input[type="file"] {
  margin-right: 1rem; /* Añadir 1rem de espacio desde el margen derecho */
  width: calc(100% - 1rem); /* Ajustar el ancho para que respete el margen */
  box-sizing: border-box; /* Asegurarse de que el ancho sea calculado correctamente */
}

/* Asegurar que los inputs ocupen el ancho correcto */
.collaborator-modal .form-group {
  margin-bottom: 15px; /* Añadir un poco de separación entre cada campo del formulario */
}

.modal-content {
  border: 2px solid #fbb414;
}

.collaborator-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid !important;
  border-width: 2px;
  border-color: #fbb414;
  
}


/* Contenedor Flexbox para las filas */
.edit-form-row {
  display: flex;
  gap: 1rem; /* Espacio entre los campos */
  margin-bottom: 1rem; /* Espaciado entre filas */
}

/* Ajusta el ancho de los inputs dentro de las filas */
.edit-form-group {
  flex: 1; /* Hace que los campos compartan el mismo espacio */
}

/* Campos específicos para el modal de edición */
.edit-form-control {
  width: 350px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Vista previa de la imagen */
.edit-image-preview img {
  max-width: 100%;
  max-height: 150px; /* Limita el tamaño de la imagen */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1rem;
}

