<div class="title">
  <h1>Colaboradores</h1>
</div>

<button class="left-button" (click)="goBack()">↩ Volver</button>


<hr class="custom-line">



<div class="btn-prn-con">
  <!-- Botón en Gestión de Imágenes -->
 


    <!-- Botón que mostrará el input de archivo -->
    <button (click)="triggerFileInput()" class="btn-prn">
      Subir Archivo ⬆️
    </button>
    <!-- Input de archivo inicialmente oculto -->
    <input
      type="file"
      id="uploadFile"
      #fileInput
      (change)="onExcelFileSelected($event)"
      accept=".xlsx, .xls"
      class="selecc"
      style="display: none"
    />
    <!-- Botón para subir el archivo seleccionado -->
    <button
      *ngIf="fileSelected"
      (click)="uploadCollaboratorsByCategory()"
      class="btn-prn"
    >
      Subir Archivo Excel
    </button>
    <button (click)="downloadCollaboratorsByCategory()" class="btn-prn">
      Descargar Archivo Excel ⬇️
    </button>
  

  <!-- Botón para Crear Nuevo Colaborador -->
  <button
    type="button"
    class="btn btn-primary"
    (click)="openCreateCollaboratorModal()"
    class="btn-prn"
  >
    Agregar Nuevo Colaborador 
    <span>➕</span>
  </button>
</div>
<!-- Modal para Crear un Nuevo Colaborador -->
<div
  id="createCollaboratorModal"
  class="modal collaborator-modal"
  *ngIf="isCreateModalOpen"
>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Crear Colaborador</h2>
      <button type="button" class="close" (click)="closeCreateModal()">
        ✖
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="createCollaborator()">
        <!-- Campos del Formulario de Creación -->
        <div class="form-group">
          <label for="first_name">Nombre</label>
          <input
            type="text"
            id="first_name"
            [(ngModel)]="selectedCollaborator.first_name"
            name="first_name"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="last_name">Apellido</label>
          <input
            type="text"
            id="last_name"
            [(ngModel)]="selectedCollaborator.last_name"
            name="last_name"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="selectedCollaborator.email"
            name="email"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="role">Rol</label>
          <input
            type="text"
            id="role"
            [(ngModel)]="selectedCollaborator.role"
            name="role"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="image">Imagen</label>
          <input
            type="file"
            id="image"
            (change)="onImageSelected($event)"
            class="form-control"
            accept="image/*"
          />
        </div>

        <!-- Botones -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            Crear Colaborador
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeCreateModal()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para Editar un Colaborador Existente -->
<div id="editCollaboratorModal" class="modal edit-collaborator-modal" *ngIf="isEditModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Editar Colaborador</h2>
      <button type="button" class="close" (click)="closeEditModal()">✖</button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="updateCollaborator()">
        <!-- Nombre y Apellido en la misma fila -->
        <div class="edit-form-row">
          <div class="edit-form-group">
            <label for="edit_first_name">Nombre</label>
            <input
              type="text"
              id="edit_first_name"
              [(ngModel)]="selectedCollaborator.first_name"
              name="first_name"
              class="edit-form-control"
              required
            />
          </div>
          <div class="edit-form-group">
            <label for="edit_last_name">Apellido</label>
            <input
              type="text"
              id="edit_last_name"
              [(ngModel)]="selectedCollaborator.last_name"
              name="last_name"
              class="edit-form-control"
              required
            />
          </div>
        </div>

        <!-- Email y Rol en la misma fila -->
        <div class="edit-form-row">
          <div class="edit-form-group">
            <label for="edit_email">Email</label>
            <input
              type="email"
              id="edit_email"
              [(ngModel)]="selectedCollaborator.email"
              name="email"
              class="edit-form-control"
              required
            />
          </div>
          <div class="edit-form-group">
            <label for="edit_role">Rol</label>
            <input
              type="text"
              id="edit_role"
              [(ngModel)]="selectedCollaborator.role"
              name="role"
              class="edit-form-control"
              required
            />
          </div>
        </div>

        <!-- Imagen -->
        <div class="edit-form-group">
          <label for="edit_image">Imagen</label>
          <input
            type="file"
            id="edit_image"
            (change)="onImageSelected($event)"
            class="edit-form-control"
            accept="image/*"
          />
        </div>

        <!-- Vista previa de la imagen seleccionada -->
        <div class="edit-image-preview" *ngIf="imagePreview">
          <p>Vista previa:</p>
          <img [src]="imagePreview" alt="Vista previa de la imagen" />
        </div>

        <!-- Botones -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          <button type="button" class="btn btn-secondary" (click)="closeEditModal()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<hr class="custom-line">

<!-- Lista de colaboradores filtrados por grupo de categoría -->
<div class="container">
  <div *ngFor="let collaborator of filteredCollaborators" class="card">
    <!-- Contenido de cada tarjeta -->
    <div class="col-info">
      <img
        class="profile"
        [src]="getCollaboratorImageUrl(collaborator)"
        alt="Imagen-del-colaborador"
        *ngIf="collaborator.image_path"
      />
      <p><strong>Nombre:</strong></p>
      <p class="inputed">{{ collaborator.first_name }} {{ collaborator.last_name }}</p>
      <p><strong>Rol:</strong></p>
      <p class="inputed">{{ collaborator.role }}</p>
      <p  ><strong>Email:</strong></p>
      <p class="lowercase-text">{{ collaborator.email }}</p>
      <div class="btn-col">
        <button (click)="openEditCollaboratorModal(collaborator)">
          Editar ✏️
        </button>
        <button
          (click)="
            deleteCollaborator(
              collaborator.id_collaborator,
              collaborator.id_collaborator_category
            )
          "
        >
          Eliminar 🗑️
        </button>
        <button
          (click)="
            toggleCollaboratorStatus(
              collaborator.id_collaborator,
              collaborator.id_collaborator_category
            )
          "
        >
          {{ collaborator.is_active ? "Desactivado 🔴" : "Activado 🟢" }}
        </button>
      </div>
    </div>
  </div>
</div>
