<button class="left-button" (click)="goBack()">↩ Volver</button>

<!-- Botón para Subir Imágenes -->
<button (click)="openUploadModal()">📤 Subir Imágenes</button>


<!-- Modal para subir imágenes -->
<div class="modal" *ngIf="isUploadModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Subir Imágenes</h2>
      <button class="close" (click)="isUploadModalOpen = false">✖</button>
    </div>
    <div class="modal-body">
      <input type="file" (change)="onFileSelected($event)" multiple />
      <button (click)="uploadImages()" [disabled]="selectedImages.length === 0">
        Subir Imágenes
      </button>
    </div>
  </div>
</div>
<!-- Contenedor principal dividido en dos secciones -->
<div class="container-main">

  <!-- Columna Izquierda: Colaboradores -->
  <div class="left-column">
    <h3 class="subtitle">Colaboradores</h3>
    <div class="column-content">
      <div
        *ngFor="let collaborator of filteredCollaborators"
        class="col-info card"
        [class.selected]="
          selectedCollaborator?.id_collaborator === collaborator.id_collaborator
        "
        (click)="selectCollaborator(collaborator)"
      >
        <img
          class="profile"
          [src]="getFullImagePath(collaborator.image_path)"
          alt="Imagen del colaborador"
          *ngIf="collaborator.image_path"
        />
        <p>
          <strong>Nombre:</strong> {{ collaborator.first_name }}
          {{ collaborator.last_name }}
        </p>
      </div>
    </div>
  </div>

  <!-- Columna Derecha: Imágenes Sin Asignar -->
<div class="right-column">
  <h3 class="subtitle">Imágenes Sin Asignar</h3>
  <div *ngFor="let image of unassignedImages" class="image-card">
    <img
      [src]="getFullImagePath(image.unique_name)"
      alt="{{ image.original_name }}"
      class="foto-perfil"
    />
    <p>{{ image.original_name }}</p>
    <!-- Botón para asignar la imagen al colaborador seleccionado -->
    <button
      *ngIf="selectedCollaborator"
      (click)="addAssignment(selectedCollaborator.id_collaborator, image.id_image)"
    >
      Asignar a {{ selectedCollaborator.first_name }}
    </button>
  </div>
</div>