@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/Merriweather/Merriweather-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


.profile-container {
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño máximo del contenedor */
    margin: 0 auto; /* Centra el contenido */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Asegura que el padding no cause overflow */
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .permissions-list {
    list-style: none;
    padding: 0;
  }
  
  .permissions-list li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    background-color: lightgrey;
  }
  
  .permissions-list li:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  .permissions-list li:last-child {
    margin-bottom: 0;
  }
  
  p {
    color: #999;
    font-size: 16px;
  }
  