.reset-password-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .reset-password-container h2 {
    margin-bottom: 20px;
  }
  
  .reset-password-container form {
    margin-bottom: 15px;
  }
  
  .reset-password-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .reset-password-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .password-guidelines {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .password-guidelines small {
    display: block;
    margin-bottom: 5px;
    color: #6c757d;
  }
  
  .password-guidelines ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
  }
  
  .success-message {
    margin-top: 15px;
    color: #28a745;
  }
  
  .error-message {
    margin-bottom: 20px; /* Margen superior añadido */
    color: #dc3545;
  }
  