<header class="header">
  <div class="header-left">
    <!-- Logo Image -->
    <a routerLink="/">
      <img src="/images/logoduoc.png" alt="Logo DuocUC" class="logo-navbar" />
    </a>
  </div>

  <!-- Mobile Navbar -->
  <ng-container *ngIf="isMobileView">
    <!-- Hamburger Button for Small Screens -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      [ngClass]="{ 'd-none': isMenuOpen }"
    >
      <span class="navbar-toggler-icon">
        <span class="navbar-toggler-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
            fill="currentColor"
          >
            <path
              d="M3 6h18a1 1 0 1 0 0-2H3a1 1 0 0 0 0 2zm18 6H3a1 1 0 1 0 0 2h18a1 1 0 1 0 0-2zm0 8H3a1 1 0 1 0 0 2h18a1 1 0 1 0 0-2z"
            />
          </svg>
        </span>
        
      </span>
    </button>

    <!-- Navigation Menu -->
    <nav
      [ngClass]="{ 'menu-open': isMenuOpen, 'menu-closed': !isMenuOpen }"
      class="menu"
    >
      <!-- Close Menu Button (X Icon) -->
      <button class="close-menu-button" type="button" (click)="closeMenu()">
        <!-- SVG for Close Icon -->
        <!-- (Include your SVG here) -->
      </button>
      <a routerLink="/" fragment="noticias" (click)="closeMenu()">Noticias</a>
      <a routerLink="/" fragment="areas-servicios" (click)="closeMenu()">Areas De Servicios</a>
      <a routerLink="/preguntas-frecuentes" (click)="closeMenu()">Preguntas Frecuentes</a>
      <a routerLink="/colaboradores" (click)="closeMenu()">Colaboradores</a>
      <a routerLink="/mapa" (click)="closeMenu()">Mapas</a>
    </nav>
  </ng-container>

  <!-- Desktop Navbar -->
  <ng-container *ngIf="!isMobileView">
    <nav class="desktop-nav">
      <a routerLink="/" fragment="noticias">Inicio</a>
      <a routerLink="/" fragment="areas-servicios">Areas de Servicios</a>
      <a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a>
      <a routerLink="/colaboradores">Colaboradores</a>
      <a routerLink="/mapa">Mapas</a>
    </nav>
  </ng-container>
</header>

<div class="navbar-space">
 
</div>

<!-- Contenedor Central -->
<div class="main-content">
  <router-outlet></router-outlet>


 
<footer class="footer">
  <!-- Contact Information Container -->
  <div class="contact-info-container">
    <h3 class="contact-title">Contacto</h3>
    <div class="contact-list">
      <div class="contact-number">Punto Estudiantil: (+56) 22 354 0753</div>
      <div class="contact-number">Mesa de Servicios: (+56) 22 712 0245</div>
    </div>
  </div>

  <!-- Duoc UC Logo Container -->
  <div class="logo-container-footer">
    <img src="/images/logoduoc.png" alt="Logo Duoc UC" class="logo-footer" />
  </div>

  <!-- Rights Reserved Container -->
  <div class="rights-container">
    <p class="rights">Derechos reservados CITT 2024</p>
  </div>
</footer>
</div>